/* ####################################################
NOTE
scss file for school profile
###################################################
*/
/** Global Fonts **/
/** Global Type Size **/
/** Global Color **/
/** Global Radius **/
/** Global Lines **/
/** Global Drop Shadow **/
.ya-article {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
  margin: 30px 0;
}
.ya-article .ya-main {
  float: left;
  margin-left: 2.12766%;
  width: 74.4681%;
}
.ya-article .ya-main:first-child {
  margin-left: 0;
}
@media (max-width: 979px) {
  .ya-article .ya-main {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .ya-article .ya-main:first-child {
    margin-left: 0;
  }
}
.ya-article .ya-right-sidebar {
  float: left;
  margin-left: 2.12766%;
  width: 23.40426%;
}
.ya-article .ya-right-sidebar:first-child {
  margin-left: 0;
}

.ya-school-registration {
  padding: 30px;
}
@media (max-width: 767px) {
  .ya-school-registration {
    padding: 30px 15px;
  }
}
.ya-school-registration h1 {
  font: 36px "ProximaNova-Regular";
}
@media (max-width: 460px) {
  .ya-school-registration h1 {
    font-size: 25px;
  }
}
.ya-school-registration .ya-widget h3 {
  border-bottom: 1px solid #d3d1c7;
}
.ya-school-registration hr {
  border-bottom: 1px solid #d3d1c7;
}

/*********start of school-registration-2********/
/**global */
span[data-icon] {
  font-size: 20px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  span[data-icon] {
    font-size: 18px;
  }
}

.ya-help-icon {
  color: #e5a053 !important;
}

.ya-grey-border-bottom, .ya-black-border-bottom, .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row, .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row, .school-registration-3 .ya-black-border-bottom, .school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row-container {
  padding-bottom: 10px;
  margin: 15px 0;
  border-bottom: 2px solid #ccc;
}

.ya-black-border-bottom {
  border-bottom: 2px solid #333;
}

/****end of global***/
.school-registration-3 {
  /*end of panel*/
}
.school-registration-3 h3 {
  border: 0 none !important;
}
.school-registration-3 .btn-link {
  color: #96171a;
  font-size: 13px;
  padding: 0;
}
.school-registration-3 .ya-tick {
  color: #447e2b;
  font-size: 13px;
  margin: 0 3px;
}
.school-registration-3 .ya-label {
  font-family: ProximaNova-Bold,arial,sans-sarif;
}
.school-registration-3 .ya-value {
  font-family: ProximaNova-Regular,arial,sans-sarif;
}
.school-registration-3 .ya-page-title {
  padding-bottom: 10px;
  margin: 15px 0;
  border-bottom: 2px solid #333;
}
.school-registration-3 .ya-show-link-icon {
  display: inline-block;
  line-height: normal;
  margin: 0 5px 0 0 !important;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-school-staff-section .btn {
    width: 150px;
  }
}
.school-registration-3 .ya-school-staff-section .ya-staff-permission-panel .ya-read-more-less {
  float: right;
}
.school-registration-3 .ya-school-staff-section .ya-staff-permission-panel .ya-help-text-block {
  width: 100%;
  float: left;
}
.school-registration-3 .ya-school-staff-section .ya-staff-block {
  word-wrap: break-word;
}
.school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-header-row {
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-header-row {
    display: none;
  }
}
.school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
.school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-staff-name {
  float: left;
  margin-left: 0%;
  width: 20.0%;
}
.school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-staff-name:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-staff-name {
    float: left;
    margin-left: 0%;
    width: 74.4681%;
    font-weight: bold;
    font-size: 16px;
  }
  .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-staff-name:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-staff-email {
  float: left;
  margin-left: 0%;
  width: 31.9149%;
}
.school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-staff-email:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-staff-email {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-staff-email:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-staff-roles {
  float: left;
  margin-left: 0%;
  width: 23.40426%;
}
.school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-staff-roles:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-staff-roles {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-staff-roles:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-edit-roles {
  float: left;
  margin-left: 0%;
  width: 9.78724%;
  text-align: right;
}
.school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-edit-roles:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-edit-roles {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
    text-align: left;
  }
  .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-edit-roles:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-remove {
  float: left;
  margin-left: 0%;
  width: 14.89362%;
  text-align: right;
}
.school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-remove:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-remove {
    float: left;
    margin-left: 0%;
    width: 23.40426%;
  }
  .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-remove:first-child {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row .ya-label {
    display: block;
    float: left;
    margin: 0 3px 0 0;
  }
}
.school-registration-3 .ya-school-staff-section .ya-read-more-less {
  display: block;
}
.school-registration-3 .ya-school-staff-section .ya-read-more-less .ya-label {
  float: left;
  padding: 2px 0 0;
}
.school-registration-3 .ya-school-staff-section .ya-read-more-less .ya-show-link-icon {
  float: left;
}
.school-registration-3 .ya-school-staff-section .help-block {
  margin: 0px !important;
}
.school-registration-3 .ya-school-staff-section .help-block h3 {
  margin: 0px !important;
  padding: 20px 0 0;
}
.school-registration-3 .ya-school-staff-section .ya-help-text-block p {
  color: #888888;
}
.school-registration-3 .ya-school-staff-section .ya-star {
  margin: 0 3px;
}
.school-registration-3 .ya-trainers-section .ya-trainers-block {
  word-wrap: break-word;
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-pay-for-registration {
  float: left;
  margin-left: 0%;
  width: 14.89362%;
  text-align: center;
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-pay-for-registration:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-pay-for-registration {
    margin: 10px 0;
  }
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-pay-for-registration .ya-label {
  padding: 0 10px;
  font-family: "ProximaNova-Bold";
}
@media (max-width: 767px) {
  .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-pay-for-registration .ya-label {
    float: left;
  }
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-pay-for-registration .checkbox {
  width: auto;
  text-align: center;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-pay-for-registration .checkbox {
    float: left;
  }
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-pay-for-registration .checkbox input {
  float: none;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-pay-for-registration .checkbox input {
    float: left;
  }
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-trainers-name {
  float: left;
  margin-left: 0%;
  width: 48.93618%;
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-trainers-name:first-child {
  margin-left: 0;
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-trainers-name .ya-row {
  float: left;
  margin-left: 0%;
  width: 100.00002%;
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-trainers-name .ya-row:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-trainers-name {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-trainers-name:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-controls {
  float: left;
  margin-left: 0%;
  width: 36.17022%;
  text-align: right;
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-controls:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-controls {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
    text-align: left;
  }
  .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-controls:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-seperator {
  border-left: 1px solid #888888;
  margin: 0 2px 0 0;
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-label {
  display: block;
  font-family: "ProximaNova-Regular";
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-name {
  font-family: "ProximaNova-Bold";
  font-size: 18px;
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-date {
  font-family: "ProximaNova-Bold";
  margin: 0 0 0 20px;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-date {
    float: right !important;
  }
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-renewal-date .ya-label {
  float: left;
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row .ya-renewal-date .ya-date {
  float: left;
}
.school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row ul, .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row li {
  margin: 0px !important;
  list-style-type: none;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row {
    margin: 0 0 5px 0;
  }
}
.school-registration-3 .ya-trainers-section .ya-label {
  display: none;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-trainers-section .ya-label {
    display: block;
    margin: 0;
  }
}
.school-registration-3 .ya-trainers-section .ya-alert {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-trainers-section .btn {
    width: 150px;
  }
}
.school-registration-3 .ya-additional-panel {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 10px 0;
}
.school-registration-3 .ya-additional-panel .ya-additional-panel-wrraper {
  background: #fff9e6;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  border: 2px solid #999999;
}
.school-registration-3 .ya-additional-panel .help-block h3 {
  padding: 0;
}
.school-registration-3 .ya-additional-panel ul, .school-registration-3 .ya-additional-panel li {
  list-style-type: none;
  margin: 0;
}
.school-registration-3 .ya-additional-panel .right {
  text-align: right;
}
.school-registration-3 .ya-additional-panel .left {
  text-align: left;
}
.school-registration-3 .ya-additional-panel .ya-add-staff-modal {
  background: #fff2cc;
}
.school-registration-3 .ya-additional-panel .ya-title {
  border-bottom: 2px solid #CCCCCC;
}
.school-registration-3 .ya-additional-panel .ya-note {
  border: 2px solid #CCCCCC;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  background: #ffffff;
  margin: 0 0 10px 0;
}
.school-registration-3 .ya-additional-panel .ya-note .ya-button-row {
  text-align: left !important;
}
.school-registration-3 .ya-additional-panel .ya-file {
  height: auto;
}
.school-registration-3 .ya-additional-panel .ya-profile-image {
  max-width: 240px;
  margin: 0 auto;
}
.school-registration-3 .ya-additional-panel .ya-button-row-center {
  text-align: center;
}
.school-registration-3 .ya-additional-panel .ya-add-location-panel .ya-left-column {
  float: left;
  margin-left: 2.12766%;
  width: 65.95746%;
}
.school-registration-3 .ya-additional-panel .ya-add-location-panel .ya-left-column:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-additional-panel .ya-add-location-panel .ya-left-column {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .school-registration-3 .ya-additional-panel .ya-add-location-panel .ya-left-column:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-additional-panel .ya-add-location-panel .ya-right-column {
  float: left;
  margin-left: 2.12766%;
  width: 31.9149%;
}
.school-registration-3 .ya-additional-panel .ya-add-location-panel .ya-right-column:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-additional-panel .ya-add-location-panel .ya-right-column {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .school-registration-3 .ya-additional-panel .ya-add-location-panel .ya-right-column:first-child {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .school-registration-3 .ya-additional-panel .ya-add-location-panel .ya-button-row {
    text-align: center;
  }
}
.school-registration-3 .ya-school-heading-section-bar {
  background-color: #eee;
  overflow: hidden;
  *zoom: 1;
  padding: 0 15px;
  margin: 30px 0;
  border: 2px solid #333;
  border-radius: 3px;
  cursor: pointer;
}
.school-registration-3 .ya-school-heading-section-bar h3 {
  margin-bottom: 0;
  padding: 0;
  border: 0 none;
}
.school-registration-3 .ya-collapse-icon {
  margin: 10px 0;
  cursor: pointer;
  display: inline-block;
}
.school-registration-3 .ya-grey-border-bottom, .school-registration-3 .ya-school-staff-section .ya-staff-block .ya-staff-row, .school-registration-3 .ya-trainers-section .ya-trainers-block .ya-trainers-row, .school-registration-3 .ya-black-border-bottom, .school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row-container {
  padding-bottom: 10px;
  margin: 15px 0;
  border-bottom: 2px solid #ccc;
}
.school-registration-3 .ya-black-border-bottom {
  border-bottom: 2px solid #333;
}
.school-registration-3 .ya-social-icons .fs1 {
  color: #909090;
  display: inline;
  font-size: 1.7em;
}
.school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row-container {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
.school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 10px;
}
.school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-name {
  float: left;
  margin-left: 0%;
  width: 74.4681%;
  font-size: 18px;
  font-weight: bold;
}
.school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-name:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-name {
    margin: 2px 0 0 0;
    font-size: 16px;
    float: left;
    margin-left: 0%;
    width: 48.93618%;
  }
  .school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-name:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-controls {
  float: left;
  margin-left: 0%;
  width: 23.40426%;
  text-align: right;
}
.school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-controls:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-controls {
    float: left;
    margin-left: 0%;
    width: 48.93618%;
  }
  .school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-controls:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-label {
  float: left;
  margin-left: 0%;
  width: 23.40426%;
}
.school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-label:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-label {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-label:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-value {
  float: left;
  margin-left: 0%;
  width: 48.93618%;
}
.school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-value:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-value {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-value:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-faculty-section .ya-faculty-block .ya-faculty-row .ya-seperator {
  border-left: 1px solid #888888;
  margin: 0 2px 0 0;
}
.school-registration-3 .ya-faculty-section .ya-faculty-block .ya-button-row .btn {
  width: 150px;
}
.school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
  /*.ya-first-name-value{@include makeFluidColumn(11,0,0);}
  .ya-last-name-value{@include makeFluidColumn(11,0,0);}
  .ya-certifications-value{@include makeFluidColumn(11,0,0)}
  .ya-biography-value{@include makeFluidColumn(11,0,0);}*/
}
.school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form .ya-first-name-label {
  float: left;
  margin-left: 0%;
  width: 31.9149%;
}
.school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form .ya-first-name-label:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form .ya-first-name-label {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form .ya-first-name-label:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form .ya-last-name-label {
  float: left;
  margin-left: 0%;
  width: 31.9149%;
}
.school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form .ya-last-name-label:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form .ya-last-name-label {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form .ya-last-name-label:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form .ya-certifications-label {
  float: left;
  margin-left: 0%;
  width: 100.00002%;
}
.school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form .ya-certifications-label:first-child {
  margin-left: 0;
}
.school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form .ya-biography-label {
  float: left;
  margin-left: 0%;
  width: 100.00002%;
}
.school-registration-3 .ya-faculty-section .ya-add-faculty-panel .ya-faculty-form .ya-biography-label:first-child {
  margin-left: 0;
}
.school-registration-3 .ya-faculty-section .control-group {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
.school-registration-3 .ya-button-row .btn {
  width: 150px;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-button-row {
    text-align: center;
  }
}
.school-registration-3 .ya-rate-structure-panel .ya-title {
  margin: 0;
}
.school-registration-3 .ya-rate-structure-panel .ya-row {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.school-registration-3 .ya-rate-structure-panel .ya-row .ya-label {
  float: left;
  margin-left: 0%;
  width: 48.93618%;
  display: block;
  font-weight: normal;
  font-family: "ProximaNova-Regular";
}
.school-registration-3 .ya-rate-structure-panel .ya-row .ya-label:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-rate-structure-panel .ya-row .ya-label {
    float: left;
    margin-left: 0%;
    width: 65.95746%;
  }
  .school-registration-3 .ya-rate-structure-panel .ya-row .ya-label:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-rate-structure-panel .ya-row .ya-value {
  float: left;
  margin-left: 0%;
  width: 48.93618%;
  text-align: right;
}
.school-registration-3 .ya-rate-structure-panel .ya-row .ya-value:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .school-registration-3 .ya-rate-structure-panel .ya-row .ya-value {
    float: left;
    margin-left: 0%;
    width: 31.9149%;
  }
  .school-registration-3 .ya-rate-structure-panel .ya-row .ya-value:first-child {
    margin-left: 0;
  }
}
.school-registration-3 .ya-rate-structure-panel .ya-row h4.ya-label {
  font-family: "ProximaNova-Bold";
  font-size: 15px;
  margin: 10px 0 0 0;
}
.school-registration-3 .ya-rate-structure-panel .ya-row h4.ya-value {
  font-family: "ProximaNova-Bold";
  font-size: 15px;
  margin: 10px 0 0 0;
}

/*******end of school-registration-3****/
