/* ####################################################
NOTE
scss file for school profile
###################################################
*/

//@import "bootstrap-responsive";
@import "compass";

$gridFluidColumnWidth: 6.38298%;
$gridFluidGutterWidth: 2.12766%;

@mixin makeFluidRow() {
  width: 100%;
  @include clearfix();
}
@mixin makeFluidColumn($columns: 1, $offset: 0, $marginRate: 1) {
  float: left;
  margin-left: (($gridFluidColumnWidth * $offset) + ($gridFluidGutterWidth * ($offset - 1)) + ($gridFluidGutterWidth * 2)) * $marginRate;
  width: ($gridFluidColumnWidth * $columns) + ($gridFluidGutterWidth * ($columns - 1));
  
  &:first-child {
        margin-left: 0;
  }
}


/** Global Fonts **/
$Normal: 'ProximaNova-Regular';
$Semibold: 'ProximaNova-Semibold';
$Bold: 'ProximaNova-Bold';
$Italic: 'ProximaNova-RegularIt';

/** Global Type Size **/
$PageHeading: 36px $Normal;
$IntroText: 14px/20px $Normal;
$Subheading: 20px/24px $Bold;
$BodyText: 14px/17px $Normal;

/** Global Color **/
$Red: #96171A;
$Gray: #5f6a72;
$Lightgray: #D3D1C7;
$Blue: #1E398D;
$Orange: #F37021;

/** Global Radius **/
$LargeRadius: 20px;
$SmallRadius: 4px;

/** Global Lines **/
$NormalLine: 1px solid $Lightgray;

/** Global Drop Shadow **/
$LargeShadow: 2px 3px 20px #5f6a72;
$MediumShadow: 5px 5px 5px #c8ccce;
$SmallShadow: 1px 1px 15px #8a9aa6;
$TinyShadow: 0px 2px 5px #c8ccce;

$margin_padding: 15px;
$icon_font_size: 20px;

.ya-article {
    @include makeFluidRow();
    margin: $margin_padding * 2 0;
    .ya-main {
        @include makeFluidColumn(9);
		@media (max-width: 979px) {
			 @include makeFluidColumn(12, 0, 0);
		}
    }
    .ya-right-sidebar {
        @include makeFluidColumn(3);
    }
}

.ya-school-registration {
    padding: $margin_padding * 2;
	@media (max-width: 767px) {
		padding: $margin_padding * 2 $margin_padding;
	}
	h1 {
		font: $PageHeading;
		@media (max-width: 460px) {
			font-size: 25px;
		}
	}
	.ya-widget {
		h3 {
			border-bottom: $NormalLine;
		}
	}
	hr {
		border-bottom: $NormalLine;
	}		
}



/*********start of school-registration-2********/
/**global */
$grey:#888888;
$yellow: #E5A053;
$maroon:#96171A;
$green:#447e2b;

$marginZero:0px !important;
@mixin input-medium(){
  width: 150px;
}
@mixin input-small(){
  width: 90px;
}
@mixin input-large(){
  width: 210px;
}
$icon_font_size: 20px;
span[data-icon] {
  font-size: $icon_font_size;
  margin-left: 10px;
  @media (max-width: 767px) {
    font-size: 18px;
  }
}
.ya-help-icon {
  color: $yellow !important;
}
.ya-grey-border-bottom {
    padding-bottom: 10px;
    margin: $margin_padding 0;
    border-bottom: 2px solid #ccc;
  }
  .ya-black-border-bottom {
    @extend .ya-grey-border-bottom;
    border-bottom: 2px solid #333;
  }
/****end of global***/
.school-registration-3{
  h3{border:0 none !important;}
  .btn-link{color:$maroon; font-size:13px; padding:0;}
  .ya-tick{color:$green; font-size:13px; margin:0 3px;}
  .ya-label {font-family: ProximaNova-Bold,arial,sans-sarif;}
.ya-value {font-family: ProximaNova-Regular,arial,sans-sarif;}
.ya-page-title{ padding-bottom: 10px;          margin: $margin_padding 0;          border-bottom: 2px solid #333; }
.ya-show-link-icon{display: inline-block;    line-height: normal;    margin: 0 5px 0 0 !important;}

	.ya-school-staff-section{
    .btn{@media(max-width:767px){ @include input-medium(); }} 
    .ya-staff-permission-panel{
      .ya-read-more-less{float:right;}
      .ya-help-text-block{width:100%; float:left;}
    }
    .ya-staff-block{word-wrap: break-word;
      .ya-staff-header-row{font-weight:bold;@include makeFluidRow();@media(max-width:767px){ display:none;  }}
      .ya-staff-row{@include makeFluidRow();@extend .ya-grey-border-bottom;
        .ya-staff-name{@include makeFluidColumn(2.6,0,0);  @media(max-width:767px){ @include makeFluidColumn(9,0,0); font-weight:bold; font-size:16px; }}
        .ya-staff-email{@include makeFluidColumn(4,0,0); @media(max-width:767px){ @include makeFluidColumn(12,0,0);  }}
        .ya-staff-roles{@include makeFluidColumn(3,0,0);@media(max-width:767px){ @include makeFluidColumn(12,0,0);  }}
        .ya-edit-roles{@include makeFluidColumn(1.4,0,0);text-align:right;@media(max-width:767px){ @include makeFluidColumn(12,0,0); text-align:left; }}
        .ya-remove{@include makeFluidColumn(2,0,0);text-align:right;  @media(max-width:767px){@include makeFluidColumn(3,0,0); }}  

          
        .ya-label{
          @media(max-width:767px){display:block; float:left; margin:0 3px 0 0;}
        }
        }        
    }
    .ya-read-more-less{display:block; 
      .ya-label{float:left;padding: 2px 0 0;}
      .ya-show-link-icon{float:left;}
    }
    .help-block{
      margin:$marginZero; 
      h3{
        margin:$marginZero; padding: 20px 0 0;
      }
    }
    .ya-help-text-block {
      p{color:$grey;}
    }
    .ya-star{margin:0 3px;}

  }
  .ya-trainers-section{
    .ya-trainers-block{word-wrap: break-word;
       

      .ya-trainers-row{@include makeFluidRow();@extend .ya-grey-border-bottom;
        .ya-pay-for-registration{@include makeFluidColumn(2,0,0); text-align:center;
        @media(max-width:767px){  margin: 10px 0;}
            .ya-label{ padding:0 10px; font-family:$Bold; @media(max-width:767px){float:left;}}
            .checkbox{width:auto; text-align:center;@media(max-width:767px){float:left;} input{ float:none;@media(max-width:767px){float:left;}}}
          }
        .ya-trainers-name{@include makeFluidColumn(6,0,0);
          .ya-row{@include makeFluidColumn(12,0,0);}
          @media(max-width:767px){ @include makeFluidColumn(12,0,0);}
        }
        .ya-controls{@include makeFluidColumn(4.5,0,0); text-align:right;
          @media(max-width:767px){ @include makeFluidColumn(12,0,0); text-align:left;}}
        .ya-seperator {
            border-left: 1px solid $grey;
            margin: 0 2px 0 0;
        }
        .ya-label{display:block;font-family:$Normal;}
        .ya-name{font-family:$Bold; font-size:18px;}
        .ya-date{font-family:$Bold;margin:0 0 0 20px; @media(max-width:767px){ float: right !important;}}
        .ya-renewal-date{.ya-label{float:left;}
          .ya-date{float:left;}}

         

        ul,li{margin:$marginZero;list-style-type: none;}
        @media(max-width:767px){margin:0 0 5px 0;}
      }
      
    }
    .ya-label{  display:none;
          @media(max-width:767px){display:block;margin:0;}
    }
    .ya-alert{@include makeFluidRow();}
    .btn{@media(max-width:767px){ @include input-medium(); }} 
  }

.ya-additional-panel{
   @include makeFluidRow(); margin:0 0 10px 0;
  .ya-additional-panel-wrraper{
    background:#fff9e6; @include border-radius(15px); padding:15px; border:2px solid #999999;    
  }
  .help-block{
      h3{padding:0;}
  }
  ul,li{list-style-type:none; margin:0;}
  .right{text-align:right;}
  .left{text-align:left;}
  .ya-add-staff-modal{background:#fff2cc;}
  .ya-title{ border-bottom: 2px solid #CCCCCC;}
  .ya-note{border:2px solid #CCCCCC;  @include border-radius(15px); padding:15px; background:#ffffff; margin:0 0 10px 0;.ya-button-row{text-align:left !important;}}
  .ya-file{height:auto;}
  .ya-profile-image{max-width:240px;margin: 0 auto;}
  .ya-button-row-center{text-align:center;}
  .ya-add-location-panel{
    .ya-left-column{@include makeFluidColumn(8); @media (max-width:767px){@include makeFluidColumn(12,0,0); }}
    .ya-right-column{@include makeFluidColumn(4); @media (max-width:767px){@include makeFluidColumn(12,0,0); }}
    .ya-button-row{ @media (max-width:767px){text-align:center;}}
  }
  }/*end of panel*/

   .ya-school-heading-section-bar {
    background-color: #eee;
    @include clearfix();
    padding: 0 $margin_padding;
    margin: $margin_padding * 2 0;
    border: 2px solid #333;
    border-radius: 3px;
    h3{margin-bottom:0; padding:0; border:0 none;}
    cursor:pointer;
  }
  .ya-collapse-icon {
    margin: 10px 0;
    cursor: pointer;display: inline-block;
  }
  .ya-grey-border-bottom {
    padding-bottom: 10px;
    margin: $margin_padding 0;
    border-bottom: 2px solid #ccc;
  }
  .ya-black-border-bottom {
    @extend .ya-grey-border-bottom;
    border-bottom: 2px solid #333;
  }
  .ya-section-content{}
  
  .ya-social-icons { 
    .fs1 {
      color: #909090;
      display: inline;
      font-size: 1.7em;
      }
  }



.ya-faculty-section{
  .ya-faculty-block{
    .ya-faculty-row-container{@include makeFluidRow();@extend .ya-grey-border-bottom;}
    .ya-faculty-row{@include makeFluidRow(); margin: 0 0 10px;
    .ya-name{@include makeFluidColumn(9,0,0); font-size: 18px;    font-weight: bold;@media(max-width:767px){margin: 2px 0 0 0;font-size: 16px; @include makeFluidColumn(6,0,0);}}
    .ya-controls{@include makeFluidColumn(3,0,0); text-align:right;@media(max-width:767px){ @include makeFluidColumn(6,0,0);}}
    .ya-label{@include makeFluidColumn(3,0,0);@media(max-width:767px){ @include makeFluidColumn(12,0,0);}}
    .ya-value{@include makeFluidColumn(6,0,0);@media(max-width:767px){ @include makeFluidColumn(12,0,0);}}
    .btn-link{}
    .ya-seperator{border-left: 1px solid $grey; margin:0 2px 0 0;}
    }
    .ya-button-row{ .btn{@include input-medium();}}

  }
  .ya-add-faculty-panel{
  .ya-faculty-form{@include makeFluidRow();
    .ya-first-name-label{@include makeFluidColumn(4,0,0);@media(max-width:767px){@include makeFluidColumn(12,0,0);}}
    .ya-last-name-label{@include makeFluidColumn(4,0,0);@media(max-width:767px){@include makeFluidColumn(12,0,0);}}
    .ya-certifications-label{@include makeFluidColumn(12,0,0)}
    .ya-biography-label{@include makeFluidColumn(12,0,0);}

    /*.ya-first-name-value{@include makeFluidColumn(11,0,0);}
    .ya-last-name-value{@include makeFluidColumn(11,0,0);}
    .ya-certifications-value{@include makeFluidColumn(11,0,0)}
    .ya-biography-value{@include makeFluidColumn(11,0,0);}*/

    

    }

  }
  .control-group{@include makeFluidRow();}

}
.ya-button-row{.btn{@include input-medium();}@media(max-width:767px){text-align:center;}}

.ya-rate-structure-panel{ 
    .ya-title{margin:0;}
    .ya-row{@include makeFluidRow(); @include border-radius(3px);
    .ya-label{@include makeFluidColumn(6,0,0);display:block; font-weight:normal; font-family:$Normal;@media(max-width:767px){@include makeFluidColumn(8,0,0);}}
    .ya-value{@include makeFluidColumn(6,0,0); text-align:right;@media(max-width:767px){@include makeFluidColumn(4,0,0);}}
    h4.ya-label{ font-family:$Bold; font-size:15px; margin:10px 0 0 0;}
    h4.ya-value{ font-family:$Bold; font-size:15px;margin:10px 0 0 0;}

    }
}







}

/*******end of school-registration-3****/